body {
    margin-top: 112px !important;
}

nav {
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 1001;
}

#carousel {
    margin-top: -56px;
}

.content {
    margin-top: 56px !important;
}

.bg-black {
    background-color: black;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1300px) {
    .merchPreview {
        width: 90vw;
    }
}

.tiles .card {
    display: inline-flex;
    border-radius: 10px;
    width: 350px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 15px;
    flex: 1 0 33.4%;
}

.card-body {
    padding-bottom: 0 !important;
}

.card .btn {
    margin: 15px 20px 10px;
}

.img-fluid {
    height: 100% !important;
}

.card-image-rounded {
    margin: 25px 0;
    height: 175px;
    width: 175px;
    background: transparent no-repeat center;
    background-size: cover;
    background-image: url('../images/ties_pose.png');
    background-position: center;
    border-radius: 100%;
}

@keyframes arrow {
    0% {
        top: -20px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: -20px;
    }
}

#arrow {
    margin-top: -150px !important;
    position: relative;
    z-index: 1000;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    animation-name: arrow;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    font-size: 30pt;
}